<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2 th:text="${errorName}"></h2>

<p th:text="${error}"></p>





</body>
</html>