<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"
          href="../../css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"
          href="../../css/bootstrap-theme.css" />
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../../css/login.css" />
    <script src="../../bootstrapjs.js" th:src="@{/js/bootstrapjs.js}"></script>
    <script src="../../a.js" th:src="@{/js/a.js}"></script>
    <script src="../../jquery.js.js" th:src="@{/js/jquery.js.js}"></script>


</head>
<body>

<div class="container">
    <div class="row">
        <section id="target-top" class="col-md-4">
            Skoro zdes bydet spisok kontaktov
        </section>
        <section id="target-right" class="col-md-8">
            Skoro zdes bydet spisok kontaktov
        </section>
    </div>
</div>






</body>
</html>