<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"
          href="../../css/bootstrap.css" />
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.css}"
          href="../../css/bootstrap-theme.css" />
    <link rel="stylesheet" th:href="@{/css/login.css}"
          href="../../css/login.css" />
    <script src="../../bootstrapjs.js" th:src="@{/js/bootstrapjs.js}"></script>
    <script src="../../a.js" th:src="@{/js/a.js}"></script>
</head>
<body>
<div class="container vcenter">

    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <p><input type="text" class="input-block-level" name="login" placeholder="Email address"/></p>
        <p><input type="password" class="input-block-level" name="password" placeholder="Password"/></p>
        <button class="btn btn-large btn-primary" type="submit" onclick="/login">Sign in</button>
        <a  style="margin-left: 20px" href="/register">Register</a>
    </form>

</div>
</body>
</html>